$fontFamily: "Dosis", sans-serif;
// 480,768
// font-size
$font10: 0.625rem;
$font11: 0.6875rem;
$font12: 0.75rem;
$font13: 0.8125rem;
$font14: 0.875rem;
$font15: 0.9375rem;
$font16: 1rem;
$font18: 1.125rem;
$font20: 1.25rem;
$font21: 1.3125rem;
$font22: 1.375rem;
$font24: 1.5rem;
$font28: 1.75rem;
$font30: 1.875rem;
$font34: 2.125rem;
$font35: 2.1875rem;
$font50: 3.125rem;
$font70: 4.375rem;
$font72: 4.5rem;

// color
$primary-color: #2c71aa;
$secondary-color: #eaeaea;
$text-color: #555;
$light-blue: #95dade;
$primary-btn: #d10157;
$separator: #d4d4d4;
$hover: #d5d5d5;
$card-background-color: #f0f0f0;
// $main: #4d4f5c;
// $dark: #1b1918;
// $white: #fff;
// $red: #dc3545;
// $bright-red: #FF2200;
// $grey: #a2a2a2;
// $highlight: #dcdcdc;
// $hoverMagenta: #f38787;
// $orange: #FF8F0F;
// $light-orange: #FFF8F0;
// $green: #1FDD11;
// $smoke-white: #F5F6FA;
// $light-gray: #C9C9C9;
